<footer class="footer bg-dark py-3 text-white mt-auto">
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ut repudiandae voluptatem, atque porro enim
            fugit assumenda dolorum, ea pariatur maxime veritatis consectetur itaque quas laudantium cupiditate rem
            corrupti
            a.</p>
    </div>
</footer>